@model GYMProgram.Models.WeekDay

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>WeekDay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkStartHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkStartHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkEndHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkEndHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QTYCustomers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QTYCustomers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Guid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
