@model GYMProgram.Models.WeekDay

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>WeekDay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Guid" />
            <div class="form-group">
                <label asp-for="DayName" class="control-label"></label>
                @*<input asp-for="DayName" class="form-control" />*@
                <select asp-for="DayNumber" class="form-control" asp-items="ViewBag.ListWeekDays"></select>
                <span asp-validation-for="DayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkStartHour" class="control-label"></label>
                @*<select id="WorkStartHour" name="WorkStartHour" class="form-control">
                    @foreach (var item in ViewBag.Hours as List<GYMProgram.BusinessFunctional.Hour>)
                    {
                        if (Model.WorkStartHour == item.HourValue)
                        {
                            <option value="@item.HourValue" selected>@item.HourText</option>
                        }
                        else
                        {
                            <option value="@item.HourValue">@item.HourText</option>

                        }
                    }


                </select>*@
                <input asp-for="WorkStartHour" class="form-control" />

                <span asp-validation-for="WorkStartHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkEndHour" class="control-label"></label>
                @*<select id="WorkEndHour" name="WorkEndHour" class="form-control">
            @foreach (var item in ViewBag.Hours as List<GYMProgram.BusinessFunctional.Hour>)
            {
                if (Model.WorkEndHour == item.HourValue)
                {
                    <option value="@item.HourValue" selected>@item.HourText</option>
                }
                else
                {
                    <option value="@item.HourValue">@item.HourText</option>

                }
            }

            }

        </select>*@
                <input asp-for="WorkEndHour" class="form-control" />
                <span asp-validation-for="WorkEndHour" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="HeadGuid" class="control-label"></label>
                    <select name="headGuid" class="form-control" asp-items="ViewBag.WeekDaysHeads"></select>
                    <span asp-validation-for="HeadGuid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QTYCustomers" class="control-label"></label>
                    <input asp-for="QTYCustomers" class="form-control" />
                    <span asp-validation-for="QTYCustomers" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Number" class="control-label"></label>
                    <input asp-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
